<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.toddsgotapen.applemailtags</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>00B6CE1D-D11A-4E28-9C22-9665282CC1C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A361AFFA-D23F-487F-B136-7864F94ACE50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14B97276-2ADF-40DD-9055-3C5B1D13134A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F718095-0DF0-47C2-8751-2FF78A604B21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C89AB65-8ADB-4140-A50C-0E656801A208</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3EC803A-F1D9-4C1B-93A1-6F18A4F7928A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F376BF1-EB0B-47AA-9365-914241FB9313</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EE3D2C1-E223-4FB8-B55A-42FA14A8DFE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>466CEA20-7813-4EC3-9202-9F5FB8608984</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6837FE48-C13A-4163-98A7-5811F213A27D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B7DD93D-3583-4F42-8CDD-87A2DDB1F182</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1618763-0561-4211-8017-8828311B86A9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C023AA56-A981-44AA-ADF3-F77F7019B875</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A3DD7212-F203-4349-827B-DFF74F6A97FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D8996E22-F231-4D23-AD46-8A611FBEFA9C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C64E9D7-167D-47F7-9E9E-2594F709EE9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32CBBE5D-83B4-46AF-AFA6-99748DE59D3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>fuckkkcccc</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F536D98-3B23-4D0D-AB4E-D752B5D6A53C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Edit the tags file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5F907443-CFE1-4D16-92BD-F29BF5A8EB4C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open the data folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AD675625-6D26-4572-8498-005394395632</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open workflow folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62B94A8D-D5B7-4DEF-A81A-7F9D22EA769F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A361AFFA-D23F-487F-B136-7864F94ACE50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6837FE48-C13A-4163-98A7-5811F213A27D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1618763-0561-4211-8017-8828311B86A9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C023AA56-A981-44AA-ADF3-F77F7019B875</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A3DD7212-F203-4349-827B-DFF74F6A97FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D8996E22-F231-4D23-AD46-8A611FBEFA9C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A0FB0E8-C1C3-42D0-9A47-FBB9AA620896</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C89AB65-8ADB-4140-A50C-0E656801A208</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EE3D2C1-E223-4FB8-B55A-42FA14A8DFE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A998A346-D434-4180-9FF4-C2AD09DD5FCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87646F74-8058-4272-8CEE-2A0602A76861</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F718095-0DF0-47C2-8751-2FF78A604B21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14B97276-2ADF-40DD-9055-3C5B1D13134A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reset data files</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1618763-0561-4211-8017-8828311B86A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F376BF1-EB0B-47AA-9365-914241FB9313</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A361AFFA-D23F-487F-B136-7864F94ACE50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF8F86E5-8724-4F6C-96F9-B280D53EB923</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2FBFBF2C-881E-4A12-B51D-345DC7E7C8C4</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6837FE48-C13A-4163-98A7-5811F213A27D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>624598AE-C397-4E76-B210-15D21917B2F0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A0FB0E8-C1C3-42D0-9A47-FBB9AA620896</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3DD7212-F203-4349-827B-DFF74F6A97FF</key>
		<array/>
		<key>C023AA56-A981-44AA-ADF3-F77F7019B875</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24CF49F4-7605-4E1A-A0C8-D0F97427AD23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8F123C7-34D8-4D51-BFB7-86F6484F6D93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B7DD93D-3583-4F42-8CDD-87A2DDB1F182</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBF1BC5E-DA7F-45EB-9F45-3AB176ECC9A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FBFBF2C-881E-4A12-B51D-345DC7E7C8C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD615470-19BE-4E9C-8089-6F30C5E0F866</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBF1BC5E-DA7F-45EB-9F45-3AB176ECC9A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Todd Clarke</string>
	<key>description</key>
	<string>Associate tags with Apple emails</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Apple Mail Tags</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/open_all_emails.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF8F86E5-8724-4F6C-96F9-B280D53EB923</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ "$1" == "reassign" ]]; then
  echo "id=$id"
  echo "old_tag=$old_tag"
else
  echo ""
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1618763-0561-4211-8017-8828311B86A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>newtag</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Type new tag to assign</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6EE3D2C1-E223-4FB8-B55A-42FA14A8DFE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/reassign_tag_to_email.py "{query}"

osascript -e 'tell application "Alfred 5" to run trigger "refresh_tags_list" in workflow "com.toddsgotapen.applemailtags"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A998A346-D434-4180-9FF4-C2AD09DD5FCD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2F376BF1-EB0B-47AA-9365-914241FB9313</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mta</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tags...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/specify_tag.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Specify a tag</string>
				<key>title</key>
				<string>Tag selected emails</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DBF1BC5E-DA7F-45EB-9F45-3AB176ECC9A5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/tag_emails.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FBFBF2C-881E-4A12-B51D-345DC7E7C8C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FD615470-19BE-4E9C-8089-6F30C5E0F866</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/open_email_and_remove_tag.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24CF49F4-7605-4E1A-A0C8-D0F97427AD23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
					<key>message_id</key>
					<string>{query}</string>
					<key>tag</key>
					<string>{var:tag}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C023AA56-A981-44AA-ADF3-F77F7019B875</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>mtl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tags...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_tags.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show emails grouped by tag</string>
				<key>title</key>
				<string>Show tagged emails</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A361AFFA-D23F-487F-B136-7864F94ACE50</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import subprocess
import urllib.parse

message_id = sys.argv[1].strip()
encoded = urllib.parse.quote(f"&lt;{message_id}&gt;")
url = f"message://{encoded}"
subprocess.run(["open", url])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A3DD7212-F203-4349-827B-DFF74F6A97FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tagged emails...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_emails_for_tag.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6837FE48-C13A-4163-98A7-5811F213A27D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>62B94A8D-D5B7-4DEF-A81A-7F9D22EA769F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/remove_email_from_tag.py "{query}"

# extract the tag part after '||'
input="{query}"
tag="${input##*||}"

# trigger refresh if tag exists
[ -n "$tag" ] &amp;&amp; osascript -e 'tell application "Alfred 5" to run trigger "refresh_file_list" in workflow "com.toddsgotapen.applemailtags" with argument "'"$tag"'"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8996E22-F231-4D23-AD46-8A611FBEFA9C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/delete_tag.py "{query}"

osascript -e 'tell application "Alfred 5" to run trigger "refresh_tags_list" in workflow "com.toddsgotapen.applemailtags"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>624598AE-C397-4E76-B210-15D21917B2F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>refresh_file_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>466CEA20-7813-4EC3-9202-9F5FB8608984</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>refresh_tags_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>00B6CE1D-D11A-4E28-9C22-9665282CC1C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/rename_tag.py "{query}"

osascript -e 'tell application "Alfred 5" to run trigger "refresh_tags_list" in workflow "com.toddsgotapen.applemailtags"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B3EC803A-F1D9-4C1B-93A1-6F18A4F7928A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rename</string>
				<key>subtext</key>
				<string>Rename this tag</string>
				<key>text</key>
				<string>Rename tag: {var:old_tag}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6A0FB0E8-C1C3-42D0-9A47-FBB9AA620896</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>old_tag</key>
					<string>{var:old_tag}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1C89AB65-8ADB-4140-A50C-0E656801A208</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D8F123C7-34D8-4D51-BFB7-86F6484F6D93</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>mts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching emails...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_emails_for_search.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search by sender or subject</string>
				<key>title</key>
				<string>Search tagged emails</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4B7DD93D-3583-4F42-8CDD-87A2DDB1F182</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a TextEdit "$alfred_workflow_data/emails.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32CBBE5D-83B4-46AF-AFA6-99748DE59D3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a TextEdit "$alfred_workflow_data/default-tags.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F536D98-3B23-4D0D-AB4E-D752B5D6A53C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:mt init</string>
				<key>subtext</key>
				<string>↵ to intialize workflow ∙ ⌘↵ to reset data files</string>
				<key>text</key>
				<string>Initialize (or reset) workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87646F74-8058-4272-8CEE-2A0602A76861</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import os
import json
import subprocess

workflow_dir = os.environ["alfred_workflow_data"]
db_path = os.path.join(workflow_dir, "emails.json")
default_tags_path = os.path.join(workflow_dir, "default-tags.json")
title = os.environ["alfred_workflow_name"]

# Check if everything already exists
if os.path.exists(workflow_dir) and os.path.exists(db_path) and os.path.exists(default_tags_path):
    subprocess.run([
        "osascript", "-e",
        f'display notification "Setup skipped — files already exist." with title "{title}"'
    ])
    exit(0)

# Otherwise → do setup
os.makedirs(workflow_dir, exist_ok=True)

# Create emails.json
if not os.path.exists(db_path):
    with open(db_path, 'w') as f:
        json.dump([], f, indent=2)

# Create default-tags.json with hardcoded tags
if not os.path.exists(default_tags_path):
    default_tags_list = ["#followup", "#unread", "#waiting", "#orders"]
    with open(default_tags_path, 'w') as f:
        json.dump(default_tags_list, f, indent=2)

# Notify success
subprocess.run([
    "osascript", "-e",
    f'display notification "Setup complete — JSON files created." with title "{title}"'
])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F718095-0DF0-47C2-8751-2FF78A604B21</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:mt edit</string>
				<key>subtext</key>
				<string>↵ Edit email file ∙ ⌘ ↵ Edit tags file ∙ ⌥↵ Open data folder ∙ ⌃↵ Open workflow folder</string>
				<key>text</key>
				<string>Edit data files directly</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5C64E9D7-167D-47F7-9E9E-2594F709EE9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$alfred_workflow_data"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F907443-CFE1-4D16-92BD-F29BF5A8EB4C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import os

workflow_dir = os.environ["alfred_workflow_data"]
db_path = os.path.join(workflow_dir, "emails.json")
default_tags_path = os.path.join(workflow_dir, "default-tags.json")

# Delete files if they exist
if os.path.exists(db_path):
    os.remove(db_path)

if os.path.exists(default_tags_path):
    os.remove(default_tags_path)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14B97276-2ADF-40DD-9055-3C5B1D13134A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$alfred_workflow_directory"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD675625-6D26-4572-8498-005394395632</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Apple Mail Tags

A simple system for tagging, finding and managing tags for Apple Mail emails.

✓  Tag any or many emails however you want — instantly  
✓  Organize, find &amp; open any or many emails — instantly  
✓  Specify default tags or type your own — instantly  
✓  Keep your email sanity — always


* `:mt init` — Intialize workflow before using
* `mt` — View top level functions
* `mta` — Assign a tag to currently highighted emails
* `mtl` — List all emails grouped by tag
* `mts` — Search through all tagged emails
* `:mt edit` — Edit data files (if needed) and open underlying folders

[See documentation](https://github.com/modrocko/apple-mail-tags-alfred-workflow)</string>
	<key>uidata</key>
	<dict>
		<key>00B6CE1D-D11A-4E28-9C22-9665282CC1C2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>0F536D98-3B23-4D0D-AB4E-D752B5D6A53C</key>
		<dict>
			<key>note</key>
			<string>edit tags file</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>14B97276-2ADF-40DD-9055-3C5B1D13134A</key>
		<dict>
			<key>note</key>
			<string>run reset</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>1350</real>
		</dict>
		<key>1C89AB65-8ADB-4140-A50C-0E656801A208</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>24CF49F4-7605-4E1A-A0C8-D0F97427AD23</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>open mail &amp; remove tag</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>2F376BF1-EB0B-47AA-9365-914241FB9313</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>2FBFBF2C-881E-4A12-B51D-345DC7E7C8C4</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>tag emails</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>32CBBE5D-83B4-46AF-AFA6-99748DE59D3E</key>
		<dict>
			<key>note</key>
			<string>edit email file</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>466CEA20-7813-4EC3-9202-9F5FB8608984</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>4B7DD93D-3583-4F42-8CDD-87A2DDB1F182</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list emails for search</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>5C64E9D7-167D-47F7-9E9E-2594F709EE9E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>1165</real>
		</dict>
		<key>5F907443-CFE1-4D16-92BD-F29BF5A8EB4C</key>
		<dict>
			<key>note</key>
			<string>open data folder</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>1235</real>
		</dict>
		<key>624598AE-C397-4E76-B210-15D21917B2F0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>delete tag</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>62B94A8D-D5B7-4DEF-A81A-7F9D22EA769F</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>6837FE48-C13A-4163-98A7-5811F213A27D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>list emails for tag</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>6A0FB0E8-C1C3-42D0-9A47-FBB9AA620896</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>rename tag</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>6EE3D2C1-E223-4FB8-B55A-42FA14A8DFE2</key>
		<dict>
			<key>note</key>
			<string>prompt for new tag</string>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>87646F74-8058-4272-8CEE-2A0602A76861</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>invoke setup or reset</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>1160</real>
		</dict>
		<key>9F718095-0DF0-47C2-8751-2FF78A604B21</key>
		<dict>
			<key>note</key>
			<string>run init</string>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>1160</real>
		</dict>
		<key>A1618763-0561-4211-8017-8828311B86A9</key>
		<dict>
			<key>note</key>
			<string>set email tag vars</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>A361AFFA-D23F-487F-B136-7864F94ACE50</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list tags</string>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>A3DD7212-F203-4349-827B-DFF74F6A97FF</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>open selected email</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>A998A346-D434-4180-9FF4-C2AD09DD5FCD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>reassign tag to email</string>
			<key>xpos</key>
			<real>1225</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>AD675625-6D26-4572-8498-005394395632</key>
		<dict>
			<key>note</key>
			<string>open workflow folder</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>1390</real>
		</dict>
		<key>B3EC803A-F1D9-4C1B-93A1-6F18A4F7928A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>rename tag</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>C023AA56-A981-44AA-ADF3-F77F7019B875</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>D8996E22-F231-4D23-AD46-8A611FBEFA9C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>remove email from tag</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>D8F123C7-34D8-4D51-BFB7-86F6484F6D93</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>DBF1BC5E-DA7F-45EB-9F45-3AB176ECC9A5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>specify tag</string>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>DF8F86E5-8724-4F6C-96F9-B280D53EB923</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>open all emails</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>FD615470-19BE-4E9C-8089-6F30C5E0F866</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>3.2.4</string>
	<key>webaddress</key>
	<string>toddsgotapen.com</string>
</dict>
</plist>
