<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.toddsgotapen.todotasks</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3C0E1B16-03F8-4492-885E-F05F29412C67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDC1E87D-6949-4036-AE6F-A02BAD8BED9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6625E652-68B1-4F84-BC56-87EE25ED99AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A89B6173-2679-49BA-95E0-F4C87C52BCB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69A7910D-4352-409A-AC60-289C319DC795</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C0E1B16-03F8-4492-885E-F05F29412C67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77C3F1FF-AE4B-4F64-8D3B-55DF5EFD082E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D62F91A-9E49-47B4-A552-10781949E9E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81F0E568-8D54-4530-8684-E5EF2D1E8136</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D90DEC3B-968E-4424-9612-85B050646DF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94FF0103-85EF-47C8-94F6-51CBEA82B38B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA8B1E61-3261-4A60-BAEF-7E9E1B440025</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1AA27F5-EA81-41F4-984E-E9348EC6AACA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD0086C5-695C-4255-8E35-0A09617BB0D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1BD6EF9-23DE-443E-8C01-E4C6BAFF310D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1AA27F5-EA81-41F4-984E-E9348EC6AACA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE6E2FCF-3288-40B4-AACA-9C886D873A35</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14C9AB1C-AF5B-464D-917E-EA9EDFDA9501</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B44355C4-F768-48C3-94A8-AD4E814F1D44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A23BD921-1138-4887-932B-D078F558D218</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D90DEC3B-968E-4424-9612-85B050646DF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3E29133-C07A-42B7-AEBD-FDED9937BA3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9531DF7-9C55-450C-B1A7-5481748DC8CA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘↵ to export tasks to .md file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47C4141F-2E6A-4FFB-ACA7-607F5F1B8D9D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥↵ to import tasks from .md file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F2A3D7F-9C76-4A41-B33F-1456DAF0DC45</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃↩ to edit tasks.md</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A89B6173-2679-49BA-95E0-F4C87C52BCB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77C3F1FF-AE4B-4F64-8D3B-55DF5EFD082E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E9F4497-3A75-4D2B-8972-8D1A4D930B66</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69A7910D-4352-409A-AC60-289C319DC795</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D90DEC3B-968E-4424-9612-85B050646DF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B44355C4-F768-48C3-94A8-AD4E814F1D44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C9AB1C-AF5B-464D-917E-EA9EDFDA9501</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C060A21A-7D09-4061-9337-971C1600293C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>303B676F-45B8-4684-8624-D46A2772D1C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF577A2A-85A0-4C8E-AEC2-859638466420</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reset data files</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD0086C5-695C-4255-8E35-0A09617BB0D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94FF0103-85EF-47C8-94F6-51CBEA82B38B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D90DEC3B-968E-4424-9612-85B050646DF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1AA27F5-EA81-41F4-984E-E9348EC6AACA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE6E2FCF-3288-40B4-AACA-9C886D873A35</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14C9AB1C-AF5B-464D-917E-EA9EDFDA9501</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B44355C4-F768-48C3-94A8-AD4E814F1D44</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF577A2A-85A0-4C8E-AEC2-859638466420</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>303B676F-45B8-4684-8624-D46A2772D1C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAA2D218-CF00-4A09-9D7B-7F37BF528118</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77C3F1FF-AE4B-4F64-8D3B-55DF5EFD082E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D62F91A-9E49-47B4-A552-10781949E9E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDECA79A-1F7E-4A4D-B12B-37E962CF2EDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62DDFDB9-3FA3-4C83-AA65-8AEAB613BD7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>fuckkkcccc</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE260D9F-58E7-4C7C-825A-8C47B3105B66</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Edit the tags file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA1537BF-8526-4B7A-915D-000FD2D5C690</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open the data folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E633888A-C7B1-4F67-901C-BAED0EA341FF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open the workflow folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Todd Clarke</string>
	<key>description</key>
	<string>Add &amp; manage your to-do list tasks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>To-Do Task Tags</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:task input</string>
				<key>subtext</key>
				<string>Format: &lt;tag&gt; | &lt;task&gt;</string>
				<key>text</key>
				<string>Enter task for this tag</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77C3F1FF-AE4B-4F64-8D3B-55DF5EFD082E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/create_task.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D62F91A-9E49-47B4-A552-10781949E9E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tta</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/specify_tag.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Add a new task for a specified tag</string>
				<key>title</key>
				<string>Assign new task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FAA2D218-CF00-4A09-9D7B-7F37BF528118</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/reassign_tag_to_task.py "{query}"

osascript -e 'tell application "Alfred 5" to run trigger "refresh_tags_list" in workflow "com.toddsgotapen.todotasks"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA8B1E61-3261-4A60-BAEF-7E9E1B440025</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ "$1" == "reassign" ]]; then
  echo "path=$path"
  echo "old_tag=$old_tag"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1AA27F5-EA81-41F4-984E-E9348EC6AACA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/delete_tag.py "{query}"

osascript -e 'tell application "Alfred 5" to run trigger "refresh_tags_list" in workflow "com.toddsgotapen.todotasks"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4E9F4497-3A75-4D2B-8972-8D1A4D930B66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>newtag</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Type new tag to assign</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>94FF0103-85EF-47C8-94F6-51CBEA82B38B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD0086C5-695C-4255-8E35-0A09617BB0D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ttl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tags...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_tags.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show existing tasks grouped by tag</string>
				<key>title</key>
				<string>Show existing tasks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A89B6173-2679-49BA-95E0-F4C87C52BCB3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>refresh_tags_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>6625E652-68B1-4F84-BC56-87EE25ED99AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rename</string>
				<key>subtext</key>
				<string>Rename this tag</string>
				<key>text</key>
				<string>Rename tag: {var:old_tag}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69A7910D-4352-409A-AC60-289C319DC795</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/rename_tag.py "{query}"

osascript -e 'tell application "Alfred 5" to run trigger "refresh_tags_list" in workflow "com.toddsgotapen.todotasks"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CDC1E87D-6949-4036-AE6F-A02BAD8BED9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>old_tag</key>
					<string>{var:old_tag}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3C0E1B16-03F8-4492-885E-F05F29412C67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>#today</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>81F0E568-8D54-4530-8684-E5EF2D1E8136</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tagged tasks...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_tasks_for_tag.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D90DEC3B-968E-4424-9612-85B050646DF3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>refresh_task_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A23BD921-1138-4887-932B-D078F558D218</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/remove_task_from_tag.py "{query}"

# extract tag from query string
input="{query}"
tag="${input%%||*}"

[ -n "$tag" ] &amp;&amp; osascript -e 'tell application "Alfred 5" to run trigger "refresh_task_list" in workflow "com.toddsgotapen.todotasks" with argument "'"$tag"'"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CE6E2FCF-3288-40B4-AACA-9C886D873A35</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"

tag="$tag"
old_task="$old_task"
new_task="{query}"

python3 scripts/update_task.py "$tag||$old_task||$new_task"

[ -n "$tag" ] &amp;&amp; osascript -e 'tell application "Alfred 5" to run trigger "refresh_task_list" in workflow "com.toddsgotapen.todotasks" with argument "'"$tag"'"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14C9AB1C-AF5B-464D-917E-EA9EDFDA9501</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:task update</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter updated task for this tag</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B44355C4-F768-48C3-94A8-AD4E814F1D44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>tts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching emails...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_tasks_for_search.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search by task name, or tag</string>
				<key>title</key>
				<string>Search tagged tasks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A1BD6EF9-23DE-443E-8C01-E4C6BAFF310D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a TextEdit "$alfred_workflow_data/tasks.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62DDFDB9-3FA3-4C83-AA65-8AEAB613BD7D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python3 &lt;&lt;EOF
import json
import os

data_path = os.getenv("alfred_workflow_data")
json_file = os.path.join(data_path, "tasks.json")
md_file = os.path.join(data_path, "tasks.md")

if os.path.exists(json_file):
    with open(json_file, "r") as f:
        entries = json.load(f)
else:
    entries = []

lines = ["# Tasks", ""]

for item in entries:
    tag = item["tag"]
    lines.append(tag)
    for task in item["tasks"]:
        lines.append(f"- {task}")
    lines.append("")

with open(md_file, "w") as f:
    f.write("\\n".join(lines))

os.system(f"""osascript -e 'display notification "Exported to tasks.md" with title "To-Do Task Tags"'""")
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9531DF7-9C55-450C-B1A7-5481748DC8CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:tt init</string>
				<key>subtext</key>
				<string>↵ intialize workflow ∙ ⌘↵ reset data files</string>
				<key>text</key>
				<string>Initialize (or reset) workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C060A21A-7D09-4061-9337-971C1600293C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a TextEdit "$alfred_workflow_data/default-tags.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CE260D9F-58E7-4C7C-825A-8C47B3105B66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:tt export/import</string>
				<key>subtext</key>
				<string>⌘↵ export tasks ∙ ⌥↵ import tasks ∙ ⌃↩ edit tasks.md</string>
				<key>text</key>
				<string>Export/import</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A3E29133-C07A-42B7-AEBD-FDED9937BA3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import os
import json
import subprocess

workflow_dir = os.environ["alfred_workflow_data"]
files_path = os.path.join(workflow_dir, "tasks.json")
default_tags_path = os.path.join(workflow_dir, "default-tags.json")
title = os.environ["alfred_workflow_name"]

# If already setup, skip
if os.path.exists(workflow_dir) and os.path.exists(files_path) and os.path.exists(default_tags_path):
    subprocess.run([
        "osascript", "-e",
        f'display notification "Setup skipped — files already exist." with title "{title}"'
    ])
    exit(0)

# Create directory
os.makedirs(workflow_dir, exist_ok=True)

# Create files.json
if not os.path.exists(files_path):
    with open(files_path, 'w') as f:
        json.dump([], f, indent=2)

# Create default-tags.json
if not os.path.exists(default_tags_path):
    default_tags_list = ["@home", "@work", "@personal"]
    with open(default_tags_path, 'w') as f:
        json.dump(default_tags_list, f, indent=2)

# Notify success
subprocess.run([
    "osascript", "-e",
    f'display notification "Setup complete — JSON files created." with title "{title}"'
])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>303B676F-45B8-4684-8624-D46A2772D1C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python3 &lt;&lt;EOF
import os
import json

data_path = os.getenv("alfred_workflow_data")
md_file = os.path.join(data_path, "tasks.md")
json_file = os.path.join(data_path, "tasks.json")

if not os.path.exists(md_file):
    os.system(f"""osascript -e 'display notification "No tasks.md file found" with title "To-Do Task Tags"'""")
    exit()

with open(md_file, "r") as f:
    lines = [line.strip() for line in f.readlines()]

entries = []
current_tag = None
current_tasks = []

for line in lines:
    if not line or line == "# Tasks":
        continue
    elif not line.startswith("-"):
        # Save previous tag if it exists
        if current_tag is not None:
            entries.append({"tag": current_tag, "tasks": current_tasks})
        current_tag = line
        current_tasks = []
    else:
        task = line[2:].strip()  # remove '- '
        current_tasks.append(task)

# Add final group
if current_tag is not None:
    entries.append({"tag": current_tag, "tasks": current_tasks})

with open(json_file, "w") as f:
    json.dump(entries, f, indent=2)

os.system(f"""osascript -e 'display notification "Imported from tasks.md" with title "To-Do Task Tags"'""")
EOF</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47C4141F-2E6A-4FFB-ACA7-607F5F1B8D9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:tt edit</string>
				<key>subtext</key>
				<string>↵ Edit data file ∙ ⌘ ↵ Edit tags file ∙ ⌥↵ Open data folder ∙ ⌃↵ Open workflow folder</string>
				<key>text</key>
				<string>Edit data files directly</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FDECA79A-1F7E-4A4D-B12B-37E962CF2EDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$alfred_workflow_data"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA1537BF-8526-4B7A-915D-000FD2D5C690</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a TextEdit "$alfred_workflow_data/tasks.md"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F2A3D7F-9C76-4A41-B33F-1456DAF0DC45</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import os

workflow_dir = os.environ["alfred_workflow_data"]
bookmarks_path = os.path.join(workflow_dir, "tasks.json")
default_tags_path = os.path.join(workflow_dir, "default-tags.json")

# Delete existing files if they exist
if os.path.exists(bookmarks_path):
    os.remove(bookmarks_path)

if os.path.exists(default_tags_path):
    os.remove(default_tags_path)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF577A2A-85A0-4C8E-AEC2-859638466420</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$alfred_workflow_directory"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E633888A-C7B1-4F67-901C-BAED0EA341FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># To-Do Task Tags

A simple system for creating &amp; tagging to-do tasks

✓  Create &amp; tag your tasks —instantly
✓  Organize, find &amp; manage your tasks — instantly  
✓  Specify default tags or type your own — instantly  
✓  Keep your to-do list sanity — always


* `:tt init` — Intialize workflow before using
* `tt` — View top level functions
* `tta` — Assign a tag to a new task
* `ttl` — List all notes grouped by tag
* `tts` — Search through all tagged tasks
* `:mt edit` — Edit data files (if needed) and open underlying folders

[See documentation](https://github.com/modrocko/tod-tasks-tags-alfred-workflow)</string>
	<key>uidata</key>
	<dict>
		<key>14C9AB1C-AF5B-464D-917E-EA9EDFDA9501</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>update task</string>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>1F2A3D7F-9C76-4A41-B33F-1456DAF0DC45</key>
		<dict>
			<key>note</key>
			<string>edit .md data file</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>1445</real>
		</dict>
		<key>303B676F-45B8-4684-8624-D46A2772D1C0</key>
		<dict>
			<key>note</key>
			<string>run init</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>1295</real>
		</dict>
		<key>3C0E1B16-03F8-4492-885E-F05F29412C67</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>47C4141F-2E6A-4FFB-ACA7-607F5F1B8D9D</key>
		<dict>
			<key>note</key>
			<string>import tasks</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>1295</real>
		</dict>
		<key>4E9F4497-3A75-4D2B-8972-8D1A4D930B66</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>delete tag</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>62DDFDB9-3FA3-4C83-AA65-8AEAB613BD7D</key>
		<dict>
			<key>note</key>
			<string>edit data file</string>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>1140</real>
		</dict>
		<key>6625E652-68B1-4F84-BC56-87EE25ED99AF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>69A7910D-4352-409A-AC60-289C319DC795</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>rename tag prompt</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>77C3F1FF-AE4B-4F64-8D3B-55DF5EFD082E</key>
		<dict>
			<key>note</key>
			<string>prefill tag prompt</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>7D62F91A-9E49-47B4-A552-10781949E9E3</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>create task</string>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>81F0E568-8D54-4530-8684-E5EF2D1E8136</key>
		<dict>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>94FF0103-85EF-47C8-94F6-51CBEA82B38B</key>
		<dict>
			<key>note</key>
			<string>prompt for new tag</string>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>A1AA27F5-EA81-41F4-984E-E9348EC6AACA</key>
		<dict>
			<key>note</key>
			<string>set task tag vars</string>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>A1BD6EF9-23DE-443E-8C01-E4C6BAFF310D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list tasks for search</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>A23BD921-1138-4887-932B-D078F558D218</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>A3E29133-C07A-42B7-AEBD-FDED9937BA3E</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>invoke export or import</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>1295</real>
		</dict>
		<key>A89B6173-2679-49BA-95E0-F4C87C52BCB3</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list tags</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>B44355C4-F768-48C3-94A8-AD4E814F1D44</key>
		<dict>
			<key>note</key>
			<string>update task prompt</string>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>BA1537BF-8526-4B7A-915D-000FD2D5C690</key>
		<dict>
			<key>note</key>
			<string>open data folder</string>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>1440</real>
		</dict>
		<key>C060A21A-7D09-4061-9337-971C1600293C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>invoke init or reset</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1295</real>
		</dict>
		<key>CA8B1E61-3261-4A60-BAEF-7E9E1B440025</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>reassign tag to task</string>
			<key>xpos</key>
			<real>1160</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>CD0086C5-695C-4255-8E35-0A09617BB0D9</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>CDC1E87D-6949-4036-AE6F-A02BAD8BED9A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>rename tag</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>CE260D9F-58E7-4C7C-825A-8C47B3105B66</key>
		<dict>
			<key>note</key>
			<string>edit tags file</string>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>1295</real>
		</dict>
		<key>CE6E2FCF-3288-40B4-AACA-9C886D873A35</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>remove task from tag</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>D90DEC3B-968E-4424-9612-85B050646DF3</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>list tasks for tag</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>DF577A2A-85A0-4C8E-AEC2-859638466420</key>
		<dict>
			<key>note</key>
			<string>run reset</string>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>1465</real>
		</dict>
		<key>E633888A-C7B1-4F67-901C-BAED0EA341FF</key>
		<dict>
			<key>note</key>
			<string>open workflow folder</string>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>1600</real>
		</dict>
		<key>F9531DF7-9C55-450C-B1A7-5481748DC8CA</key>
		<dict>
			<key>note</key>
			<string>export tasks</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>1155</real>
		</dict>
		<key>FAA2D218-CF00-4A09-9D7B-7F37BF528118</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>specify tag</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>FDECA79A-1F7E-4A4D-B12B-37E962CF2EDC</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>1295</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>3.2.3</string>
	<key>webaddress</key>
	<string>toddsgotapen.com</string>
</dict>
</plist>
