<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.toddsgotapen.finderfiletags</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>087E5667-B25A-4069-91FE-131D1C254EF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F687D089-A4D1-4505-8F9A-5CC45FE42D06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D5FAEBB-DCDB-4E64-8101-4E228FB9B184</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73F23002-615E-4F63-8BF0-0B571B64C9EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>fuckkkcccc</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6E8C456-C33D-489F-8486-AF27A8619E44</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Edit the tags file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DEAEB43F-3709-4300-9C47-E183A6D3C218</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open the data folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A65ECF0F-A0A6-4D6E-BC96-5E677C5CC8B8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open the workflow folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>201ABA9D-14F1-4F30-A5F6-7D0686F7B4CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89C58200-A9EF-411F-82BA-ADE45424EAEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>230871E6-7E7F-4387-92B7-15894D7DFA7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90ED9396-39BC-4794-A4EA-FFCB886E2BF9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7F530AF5-C820-43C3-8116-9F904AF8845E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7173BE84-EFE0-4714-8412-BBB7E73C2F51</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B60DE0B-F9B9-4EE4-80C7-3FDD63D777D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4EF2F880-4180-4D6C-8621-978681661C6D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>348E054A-B0C0-4976-B958-E33BC26A9914</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2ED7431-7B64-406B-AF44-097162A9359B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>479056E0-A9EB-4E78-BA94-DFA83F84247F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB003408-D76A-4070-B7DE-287E479B726F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F84B06F1-83B5-4145-B384-6CA512944574</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reset data files</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57ED0970-5127-4A1C-A4CB-7B3E2F7767F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>230871E6-7E7F-4387-92B7-15894D7DFA7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B60DE0B-F9B9-4EE4-80C7-3FDD63D777D1</key>
		<array/>
		<key>7173BE84-EFE0-4714-8412-BBB7E73C2F51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69864A41-A156-480A-BB65-2B8C4598F42A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89C58200-A9EF-411F-82BA-ADE45424EAEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B48684D1-6F56-4A63-8396-80581FB82106</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BE78F6B-46CA-4F84-913A-7AB1E4788D16</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>230871E6-7E7F-4387-92B7-15894D7DFA7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BC268CF-6179-4FAE-934F-BCC9C494955C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D3DCABA6-CDCD-4BA2-9DCC-7F485218CB64</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90ED9396-39BC-4794-A4EA-FFCB886E2BF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B336BE67-0A84-4DAC-B465-0A8BF4971628</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A45D62D4-4387-485B-BBAA-08E959A61DD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74AFEA7D-68BB-490B-87A6-B6CC5149B57A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B336BE67-0A84-4DAC-B465-0A8BF4971628</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>348E054A-B0C0-4976-B958-E33BC26A9914</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3DCABA6-CDCD-4BA2-9DCC-7F485218CB64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A45D62D4-4387-485B-BBAA-08E959A61DD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7C3ABF0-8F77-4CD4-83AB-01AB4881FA0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89C58200-A9EF-411F-82BA-ADE45424EAEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E94DD973-3B59-4AA0-B99B-24248EAAB7B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BE78F6B-46CA-4F84-913A-7AB1E4788D16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F687D089-A4D1-4505-8F9A-5CC45FE42D06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90ED9396-39BC-4794-A4EA-FFCB886E2BF9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7173BE84-EFE0-4714-8412-BBB7E73C2F51</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B60DE0B-F9B9-4EE4-80C7-3FDD63D777D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4EF2F880-4180-4D6C-8621-978681661C6D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F84B06F1-83B5-4145-B384-6CA512944574</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB003408-D76A-4070-B7DE-287E479B726F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB31511E-0E8B-4F99-ADF9-E84B2A660644</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E94DD973-3B59-4AA0-B99B-24248EAAB7B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Todd Clarke</string>
	<key>description</key>
	<string>Tag Finder files to access quickly later</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finder File Tags</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/reassign_tag_to_file.py "{query}"

osascript -e 'tell application "Alfred 5" to run trigger "refresh_tags_list" in workflow "com.toddsgotapen.finderfiletags"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2ED7431-7B64-406B-AF44-097162A9359B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ "$1" == "reassign" ]]; then
  echo "path=$path"
  echo "old_tag=$old_tag"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90ED9396-39BC-4794-A4EA-FFCB886E2BF9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>newtag</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Type new tag to assign</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>348E054A-B0C0-4976-B958-E33BC26A9914</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/open_all_files.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B48684D1-6F56-4A63-8396-80581FB82106</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B336BE67-0A84-4DAC-B465-0A8BF4971628</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript -e 'tell application "Finder" to reveal POSIX file "'"$1"'"' -e 'tell application "Finder" to activate'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F530AF5-C820-43C3-8116-9F904AF8845E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FB31511E-0E8B-4F99-ADF9-E84B2A660644</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/tag_files.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6BE78F6B-46CA-4F84-913A-7AB1E4788D16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fta</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/specify_tag.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Tag currently selected files in Finder</string>
				<key>title</key>
				<string>Tag selected Finder files</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E94DD973-3B59-4AA0-B99B-24248EAAB7B9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/open_file_and_remove_tag.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>69864A41-A156-480A-BB65-2B8C4598F42A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
					<key>path</key>
					<string>{query}</string>
					<key>tag</key>
					<string>{var:tag}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7173BE84-EFE0-4714-8412-BBB7E73C2F51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D7C3ABF0-8F77-4CD4-83AB-01AB4881FA0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tagged bookmarks...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_files_for_tag.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>230871E6-7E7F-4387-92B7-15894D7DFA7D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ftl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tags...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_tags.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show tagged files grouped by tag</string>
				<key>title</key>
				<string>Show tagged files</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>89C58200-A9EF-411F-82BA-ADE45424EAEF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import subprocess
import os

path = sys.argv[1].strip()

# Open file or folder
subprocess.run(["open", path])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B60DE0B-F9B9-4EE4-80C7-3FDD63D777D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/delete_tag.py "{query}"

osascript -e 'tell application "Alfred 5" to run trigger "refresh_tags_list" in workflow "com.toddsgotapen.finderfiletags"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2BC268CF-6179-4FAE-934F-BCC9C494955C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>refresh_file_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>57ED0970-5127-4A1C-A4CB-7B3E2F7767F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>refresh_tags_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>201ABA9D-14F1-4F30-A5F6-7D0686F7B4CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/remove_file_from_tag.py "{query}"

# extract the tag part after '||'
input="{query}"
tag="${input##*||}"

# trigger refresh if tag exists
[ -n "$tag" ] &amp;&amp; osascript -e 'tell application "Alfred 5" to run trigger "refresh_file_list" in workflow "com.toddsgotapen.finderfiletags" with argument "'"$tag"'"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4EF2F880-4180-4D6C-8621-978681661C6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rename</string>
				<key>subtext</key>
				<string>Rename this tag</string>
				<key>text</key>
				<string>Rename tag: {var:old_tag}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3DCABA6-CDCD-4BA2-9DCC-7F485218CB64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>old_tag</key>
					<string>{var:old_tag}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A45D62D4-4387-485B-BBAA-08E959A61DD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>087E5667-B25A-4069-91FE-131D1C254EF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/rename_tag.py "{query}"

osascript -e 'tell application "Alfred 5" to run trigger "refresh_tags_list" in workflow "com.toddsgotapen.finderfiletags"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>74AFEA7D-68BB-490B-87A6-B6CC5149B57A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>fts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching emails...</string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_files_for_search.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search by file name, path or tag</string>
				<key>title</key>
				<string>Search tagged files</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F687D089-A4D1-4505-8F9A-5CC45FE42D06</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a TextEdit "$alfred_workflow_data/files.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73F23002-615E-4F63-8BF0-0B571B64C9EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a TextEdit "$alfred_workflow_data/default-tags.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A6E8C456-C33D-489F-8486-AF27A8619E44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:ft edit</string>
				<key>subtext</key>
				<string>↵ Edit data file ∙ ⌘ ↵ Edit tags file ∙ ⌥↵ Open data folder ∙ ⌃↵ Open workflow folder</string>
				<key>text</key>
				<string>Edit data files directly</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D5FAEBB-DCDB-4E64-8101-4E228FB9B184</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import os
import json
import subprocess

workflow_dir = os.environ["alfred_workflow_data"]
files_path = os.path.join(workflow_dir, "files.json")
default_tags_path = os.path.join(workflow_dir, "default-tags.json")
title = os.environ["alfred_workflow_name"]

# If already setup, skip
if os.path.exists(workflow_dir) and os.path.exists(files_path) and os.path.exists(default_tags_path):
    subprocess.run([
        "osascript", "-e",
        f'display notification "Setup skipped — files already exist." with title "{title}"'
    ])
    exit(0)

# Create directory
os.makedirs(workflow_dir, exist_ok=True)

# Create files.json
if not os.path.exists(files_path):
    with open(files_path, 'w') as f:
        json.dump([], f, indent=2)

# Create default-tags.json
if not os.path.exists(default_tags_path):
    default_tags_list = ["@project", "@reference", "@later"]
    with open(default_tags_path, 'w') as f:
        json.dump(default_tags_list, f, indent=2)

# Notify success
subprocess.run([
    "osascript", "-e",
    f'display notification "Setup complete — JSON files created." with title "{title}"'
])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB003408-D76A-4070-B7DE-287E479B726F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:ft init</string>
				<key>subtext</key>
				<string>↵ to intialize workflow ∙ ⌘↵ to reset data files</string>
				<key>text</key>
				<string>Initialize (or reset) workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>479056E0-A9EB-4E78-BA94-DFA83F84247F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$alfred_workflow_data"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DEAEB43F-3709-4300-9C47-E183A6D3C218</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import os

workflow_dir = os.environ["alfred_workflow_data"]
bookmarks_path = os.path.join(workflow_dir, "files.json")
default_tags_path = os.path.join(workflow_dir, "default-tags.json")

# Delete existing files if they exist
if os.path.exists(bookmarks_path):
    os.remove(bookmarks_path)

if os.path.exists(default_tags_path):
    os.remove(default_tags_path)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F84B06F1-83B5-4145-B384-6CA512944574</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$alfred_workflow_directory"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A65ECF0F-A0A6-4D6E-BC96-5E677C5CC8B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Finder File Tags

A simple system for tagging, finding and managing tags for Apple Finder files

✓  Tag any or many files however you want — instantly  
✓  Organize, find &amp; open any or many files — instantly  
✓  Specify default tags or type your own — instantly  
✓  Keep your Finder file sanity — always


* `:ft init` — Intialize workflow before using
* `ft` — View top level functions
* `fta` — Assign a tag to currently selected Finder files
* `ftl` — List all files grouped by tag
* `fts` — Search through all tagged files
* `:ft edit` — Edit data files (if needed) and open underlying folders

[See documentation](https://github.com/modrocko/finder-file-tags-alfred-workflow)</string>
	<key>uidata</key>
	<dict>
		<key>087E5667-B25A-4069-91FE-131D1C254EF2</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>1D5FAEBB-DCDB-4E64-8101-4E228FB9B184</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>1235</real>
		</dict>
		<key>201ABA9D-14F1-4F30-A5F6-7D0686F7B4CD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>230871E6-7E7F-4387-92B7-15894D7DFA7D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>list files for tag</string>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>2BC268CF-6179-4FAE-934F-BCC9C494955C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>delete tag</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>348E054A-B0C0-4976-B958-E33BC26A9914</key>
		<dict>
			<key>note</key>
			<string>prompt for new tag</string>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>479056E0-A9EB-4E78-BA94-DFA83F84247F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>invoke init or reset</string>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>1235</real>
		</dict>
		<key>4EF2F880-4180-4D6C-8621-978681661C6D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>remove file from tag</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>57ED0970-5127-4A1C-A4CB-7B3E2F7767F8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>5B60DE0B-F9B9-4EE4-80C7-3FDD63D777D1</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>open selected file</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>69864A41-A156-480A-BB65-2B8C4598F42A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>open file &amp; remove tag</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>6BE78F6B-46CA-4F84-913A-7AB1E4788D16</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>tag files</string>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>7173BE84-EFE0-4714-8412-BBB7E73C2F51</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>73F23002-615E-4F63-8BF0-0B571B64C9EA</key>
		<dict>
			<key>note</key>
			<string>edit data file</string>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>1080</real>
		</dict>
		<key>74AFEA7D-68BB-490B-87A6-B6CC5149B57A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>rename tag</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>855</real>
		</dict>
		<key>7F530AF5-C820-43C3-8116-9F904AF8845E</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>reveal in finder</string>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>89C58200-A9EF-411F-82BA-ADE45424EAEF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list tags</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>90ED9396-39BC-4794-A4EA-FFCB886E2BF9</key>
		<dict>
			<key>note</key>
			<string>set file tag vars</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>A45D62D4-4387-485B-BBAA-08E959A61DD2</key>
		<dict>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>A65ECF0F-A0A6-4D6E-BC96-5E677C5CC8B8</key>
		<dict>
			<key>note</key>
			<string>open workflow folder</string>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>1530</real>
		</dict>
		<key>A6E8C456-C33D-489F-8486-AF27A8619E44</key>
		<dict>
			<key>note</key>
			<string>edit tags file</string>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>1235</real>
		</dict>
		<key>B336BE67-0A84-4DAC-B465-0A8BF4971628</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>B48684D1-6F56-4A63-8396-80581FB82106</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>open all files</string>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>D3DCABA6-CDCD-4BA2-9DCC-7F485218CB64</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>rename tag</string>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>D7C3ABF0-8F77-4CD4-83AB-01AB4881FA0F</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>DB003408-D76A-4070-B7DE-287E479B726F</key>
		<dict>
			<key>note</key>
			<string>run init</string>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>1235</real>
		</dict>
		<key>DEAEB43F-3709-4300-9C47-E183A6D3C218</key>
		<dict>
			<key>note</key>
			<string>open data folder</string>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>1380</real>
		</dict>
		<key>E94DD973-3B59-4AA0-B99B-24248EAAB7B9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>specify tag</string>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>F2ED7431-7B64-406B-AF44-097162A9359B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>reassign tag to file</string>
			<key>xpos</key>
			<real>1195</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>F687D089-A4D1-4505-8F9A-5CC45FE42D06</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list files for search</string>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>F84B06F1-83B5-4145-B384-6CA512944574</key>
		<dict>
			<key>note</key>
			<string>run reset</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>1405</real>
		</dict>
		<key>FB31511E-0E8B-4F99-ADF9-E84B2A660644</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>3.2.3</string>
	<key>webaddress</key>
	<string>toddsgotapen.com</string>
</dict>
</plist>
